
h1 {
    font-size: 50pt;
    margin-top: 48px;
    margin-bottom: 24px;
}

h2 {
    font-size: 24px;
    margin-top: 32px;
}

p.example-filename {
    font-size: 10pt;
    margin-top: 0;
    margin-bottom: 24px;
}

pre.prettyprint {
    margin-bottom:0;
}
